@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1585384346567'); /* IE9 */
  src: url('iconfont.eot?t=1585384346567#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALoAAsAAAAABrwAAAKbAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCDBgqBGIEWATYCJAMMCwgABCAFhG0HQRvnBREVjGeynweZ25VmhYoTyk7ILcS37c2nOarG+x4PX/u9nru7/wXBAZAEHB+ViYpQEQaoQKq1rTAVpr7CRpcUkK5+Q9f8pEp6kOc//7TH6EXSphsm/XTtVWADue03fYZ7NSa6gyV7HnyXZySww4XQblmnq1SF/LbuZ5Bkqc9zOb0JdCCjvmW5jDFoD9t41AswDiigvbFNViKBeIvsIu7ERZwn0GrYojiKgxBpVqBpgTivh22kuZBQFKPcLFQNa4t4g9ScXiWI19H345/1aCZpZGjuMfk9ZO/nV57V90pOSCKCvLmBjEUU4qyxcGplYXBZ6/BiEZUipLnSdU2k9e3VTv94iaigynYwKxcTP1EFwc82SCCDqliawprC9vcP0d9ztZkp/a3cE/Pva234nBuDXV30t8dbrSZ7zLXh/nw/yNKh9tAfeQ5MqoqbIv2eFxNraj8Def8ajR80GHq7WsFxuHp2/wHqnZYF9ff0KU9Ev3tI43lRIKheffg3ua3/zVQBn148SbH6oYCFaD5DMPhjOmBL8Q3Il4urpdowlPUD8gmtflgNRXp9G28fANcSmg2MCDUZypA1myQLu4iGNpuoNCPvwliQbF7oI1xRWrCW3hJCtw+STh+RdfuShf1Dw6B/VLrDRauT6NuzzXTU5lAwVSwgu0Gd80AkoCau3mE5d6nkDRF/QpnqNIReUC4nOKDMsWA6l5EqAQn3EEuXYdcxjMIN5upVquPW96npTV7OvWUcEiilUAFkbkAtxwbEOytT+fwOKs06KemQ9JRPkJjUvYOQJwCQiXUASe7lmslZKaIUAUSwHoilUajTYWBsHtVAOeWpRuRGWz5uR1Crt769/75dWJaB5ruRIkfResFzU6eDipS5nDn1WBYA') format('woff2'),
  url('iconfont.woff?t=1585384346567') format('woff'),
  url('iconfont.ttf?t=1585384346567') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1585384346567#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youjiantou:before {
  content: "\e641";
}

.icon-zuojiantou:before {
  content: "\e692";
}

