/*移动端适配计算 start*/
$baseUIPx : 750px;
@function pxToRem($px) {
  @return $px / ($baseUIPx / 10) * 1rem;
}
#goDetail {
  font-size: pxToRem(30px);
  float: right;
  background: rgb(63, 88, 199);
  color: #fff;
  border: 1px solid #262626;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}
#tab-bar {
  border-bottom: 1px solid #cccccc;
  height: pxToRem(100px);
  display: flex;
  .student {
    width: 50%;
    height: 100%;
    .student-text {
      width: 60%;
      margin: 0 auto;
      height: 100%;
      font-size: pxToRem(30px);
      line-height: pxToRem(100px);
    }
  }
  .teacher {
    width: 50%;
    height: 100%;
    .teacher-text {
      width: 60%;
      margin: 0 auto;
      height: 100%;
      font-size: pxToRem(30px);
      line-height: pxToRem(100px);
    }
  }
}
#select-bar {
  border-bottom: 1px solid #cccccc;
  height: pxToRem(100px);
  display: flex;
}
.date-box {
  width: 60%;
  height: 100%;
  font-size: pxToRem(30px);
  margin-left: pxToRem(40px);
  .date {
    padding-left: pxToRem(50px);
    height: 80%;
    border: 1px solid #cccccc;
    margin-top: pxToRem(10px);
    background: #fff;
    border-radius: pxToRem(10px);
  }
}
.select-box {
  width: 40%;
  height: 100%;
  font-size: pxToRem(20px);
  .select {
    padding-left: pxToRem(50px);
    width: 70%;
    margin-top: pxToRem(10px);
    margin-left: pxToRem(30px);
    height: 80%;
    border: 1px solid #cccccc;
    border-radius: pxToRem(10px);
  }
}
#charts-box {
  .contain-chart {
    display: flex;
    #chart1 {
      width: 50%;
      height: pxToRem(350px);
    }
    #chart2 {
      width: 50%;
      height: pxToRem(350px);
    }
  }
  .charts-title-box {
    height: pxToRem(100px);
    .charts-title {
      float: left;
      font-size: pxToRem(40px);
      line-height: pxToRem(100px);
      margin-left: pxToRem(20px);
    }
    .charts-select {
      float: right;
      font-size: pxToRem(30px);
      margin-top: pxToRem(30px);
    }
  }
  .prompt-box {
    display: flex;
    .prompt {
      width: 50%;
      height: pxToRem(200px);
      border: 1px solid #cccccc;
      margin: pxToRem(10px);
      border-radius: pxToRem(15px);
      padding: pxToRem(20px);
    }
  }
}