/*移动端适配计算 start*/
$baseUIPx : 750px;
@function pxToRem($px) {
  @return $px / ($baseUIPx / 10) * 1rem;
}
#goDetail {
  font-size: pxToRem(30px);
  float: right;
  background: rgb(63, 88, 199);
  color: #fff;
  border: 1px solid #262626;
  border-radius: 10px;
  margin-right: 20px;
  padding: 10px;
}